:root {
    --cor-fundo: #f5f50a;         /* Fundo claro */
    --cor-principal: #b02323;     /* Caixa principal vermelha*/
    --cor-secundaria: #cf5d1b;    /* Botão em repouso - marrom */
    --cor-destaque: #05d9f5;      /* Azul forte para destaque */
    --cor-texto: #1A1A1A;         /* Texto escuro para contraste */
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
